/* Estilos generales */
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 1em 0;
    line-height: 1.5;
}

/* Estilos del navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #103a9b;
    color: #fff;
    padding: 1em;
    position: relative;
    z-index: 1;
}
.navbar-img {
    width: 75px; /* ajusta el ancho de la imagen */
    height: auto; /* ajusta la altura de la imagen automáticamente para mantener la relación de aspecto */
  }
  
.navbar h1 {
	font-size: 1.5em;
	margin: 0;
	text-align: center;
	flex-grow: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar li {
    margin: 0 0.5em;
}

.navbar li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    color: black
}

.navbar li a:hover {
    background-color: #fff;
    color: #333;
}

/* Estilos del menú vertical */
.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    background-color: #103a9b;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 1;
}
  
.menu-toggle button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin-right: 0.5em;
}
  
.menu {
	margin-top: 105px; /* Agregar margen superior */
	display: none;
	background-color: #f2f2f2;
	padding: 1em;
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: calc(100% - 40px); /* Restar el margen superior de la altura */
	overflow-y: scroll; /* Agregar barra de desplazamiento vertical */
    color:aqua;
}
  
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.menu li {
    margin: 15px;
    color: #fff
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    color: #87DE43;
}

.menu h2 {
    color: #F3FA00;
}

/* Estilos del contenido */
.contenido {
	padding: 1em;
	width: 60%; /* 30% de la orilla izquierda y 20% de la derecha */
	margin-left: 30%;
	margin-right: 10%;
	float: right;
}

.menu.mostrar {
    display: block;
}

.menu-toggle-close {
    position: absolute;
    top: 1em;
    right: 1em;
}
  
.menu-toggle-close button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1.5em;
    cursor: pointer;
}

/* Estilos para encapsular el menú */
.contenedor-menu {
    position: relative;
    overflow: hidden;
}

.menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #103a9b;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
}

.menu::-webkit-scrollbar {
    width: 6px;
}

.menu::-webkit-scrollbar-thumb {
    background-color: #333;
}


    #parpadeo {
        animation: cambiaColor 5s infinite;
    }
    
    @keyframes cambiaColor {
        0% {color: red;}
        25% {color: green;}
        50% {color: yellow;}
        75% {color: darkviolet;}
        100% {color: pink;}
    }

